.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.d-block {
    display: block;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(min(100%, 25%), 1fr)); */
}

.cols2 {
    display: grid;
    grid-template-columns:  1fr;
    /* Where the magic happens */
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: auto;
}



.text-secondary {
    color: var(--light-font) !important;
}
.text-danger {
    color: var(--error-60) !important;
}
.text-success {
    color: var(--success-60) !important;
}
.text-warning {
    color: var(--warning-40) !important;
}
.text-primary {
    color: var(--primary-color) !important;
}

@media only screen and (min-width: 60em) {
    .cols2 {
        grid-template-columns: 1fr 1fr;
    }
}