.navbar{
    grid-area: navbar;
    background-color: white;
    box-shadow: 0px .5px 5px #ddd;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 16px;
}
.menu-icon {
  position: absolute;
  display: flex;
  top: 0px;
  left: 10px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border:none;
  cursor: pointer;
  padding: 12px;
  background-color: inherit;
}
.navbar_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.profile_user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: .5rem;
}
.profile_user > .username{
    font-size: .95rem;
}
.profile_user > .role{
    font-size: .85rem;
    color: #a5a5a5;
}
.profile_thumbnail{
    max-height: 50px;
    max-width: 50px;
    height: auto;
    width: auto; 
    border-radius: 50%;
}