.sidenav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2; /* Needs to sit above the hamburger menu icon */
    background-color: #394263;
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
  }
  .sidenav.active {
    transform: translateX(0);
  }

.sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
}

.sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
}

.sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
    background-color: #DADAE3;
}

.sidenav__close-icon {
    position: absolute;
    visibility: visible;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: #ddd;
  }

.header__search {
    margin-left: 42px;
}

@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .sidenav {
        /* position: relative; Fixed position on mobile */
        transform: translateX(0);
      }
    
      .sidenav__close-icon {
        visibility: hidden;
      }
}