@import 'colors.css';
:root{
    --bg-color: var(--neutral-10);
    --border-color: var(--neutral-40);
    --light-font: var(--neutral-60);
    --body-font: var(--neutral-80);
    --dark-font: var(--neutral-100);

    --primary-color:var(--purple-60);

    --gradient-deg: 75deg;
    --gradient-primary:linear-gradient(var(--gradient-deg), var(--purple-60), var(--purple-40));
    --gradient-success:linear-gradient(var(--gradient-deg), var(--success-60), var(--success-40));
    --gradient-info:linear-gradient(var(--gradient-deg), var(--info-60), var(--info-40));
    --gradient-warning:linear-gradient(var(--gradient-deg), var(--warning-60), var(--warning-40));
    --gradient-error:linear-gradient(var(--gradient-deg), var(--error-60), var(--error-40));
    --gradient-dark:linear-gradient(var(--gradient-deg), var(--neutral-100), var(--neutral-80));



    /* --shadow-1: 0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px rgba(9, 30, 66, 0.31);
    --shadow-2: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
    --shadow-3: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
    --shadow-4: 0px 18px 28px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31); */

    --shadow-1: 0px 1px 1px rgba(9, 30, 66, 0.25);
    --shadow-2: 0px 3px 5px rgba(9, 30, 66, 0.2);
    --shadow-3: 0px 8px 12px rgba(9, 30, 66, 0.15);
    --shadow-4: 0px 18px 28px rgba(9, 30, 66, 0.15);


    --breakpoint: 60em;
}