@import 'colors.css';
:root{
    --bg-color: var(--neutral-10);
    --border-color: var(--neutral-40);
    --light-font: var(--neutral-60);
    --body-font: var(--neutral-80);
    --dark-font: var(--neutral-100);

    --primary-color:var(--purple-60);



    --shadow-1: 0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px rgba(9, 30, 66, 0.31);
    --shadow-2: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
    --shadow-3: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
    --shadow-4: 0px 18px 28px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);

}